body {
    background-color: #bebebe;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    font-family: 'Times New Roman', serif;
  }
  
  h2, h3 {
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
    color: #0077b6;
  }
  
  p {
    line-height: 1.6;
  }
  
  img {
    border: 5px solid #ff5733;
    padding: 10px;
    margin: 20px;
    border-top-right-radius: 30px;
  }
  
  li {
    display: inline-block;
    margin-left: 50px;
  }
  